DaedalusStyle
{
    LoggerMain: #000000;
    LoggerDebug: #4400ff;
    LoggerWarning: #ffd000;
    LoggerError: #ff0000;
    pathToIcons: "src/assets/IconPack/Classic";
}

QFrame[CardFrame="true"] {
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    border-radius: 8px;
}
QWidget[CardFrame="true"]
{
	background-color: transparent;
	color: #000000;
}

/*-----QWidget-----*/
QWidget
{
	background-color: #ffffff;
	color: #000000;
}

/*-----QLabel-----*/
QLabel
{
	background-color: transparent;
	color: #000000;
}

QLabel::disabled
{
	background-color: transparent;
	color: #a0a0a0;
}

/*-----QMenuBar-----*/
QMenuBar
{
	background-color: #f0f0f0;
	color: #000000;
}

QMenuBar::disabled
{
	color: #a0a0a0;
}

QMenuBar::item
{
    background-color: transparent;
}

QMenuBar::item:selected
{
    background-color: #e0e0e0;
}

QMenuBar::item:pressed
{
    background-color: #d0d0d0;
}

/*-----QMenu-----*/
QMenu
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
}

QMenu::separator
{
    height: 1px;
    background-color: #cccccc;
    margin: 4px 10px 4px 10px;
}

QMenu::item
{
    min-width: 150px;
    padding: 4px 20px 4px 20px;
}

QMenu::item:selected
{
    background-color: #0078d7;
    color: #ffffff;
}

QMenu::item:disabled
{
    color: #a0a0a0;
}

/*-----QToolTip-----*/
QToolTip
{
	border: 1px solid #cccccc;
	background-color: #ffffff;
	color: #000000;
}

/*-----QPushButton-----*/
QPushButton
{
	background-color: #f0f0f0;
	color: #000000;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 5px;
}

QPushButton::disabled
{
	background-color: #f5f5f5;
	color: #a0a0a0;
	border-color: #e0e0e0;
}

QPushButton::hover
{
	background-color: #e5e5e5;
}

QPushButton::pressed
{
	background-color: #d5d5d5;
}

/*-----QToolButton-----*/
QToolButton
{
	background-color: transparent;
	color: #000000;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 3px;
}

QToolButton::disabled
{
	color: #a0a0a0;
}

QToolButton::hover
{
	background-color: #e5e5e5;
	border: 1px solid #cccccc;
}

QToolButton::pressed
{
	background-color: #d5d5d5;
	border: 1px solid #cccccc;
}

/*-----QComboBox-----*/
QComboBox
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding-left: 6px;
    color: #000000;
    height: 20px;
}

QComboBox::disabled
{
	background-color: #f5f5f5;
	color: #a0a0a0;
}

QComboBox:hover
{
    border: 1px solid #a0a0a0;
}

QComboBox QAbstractItemView
{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    selection-background-color: #0078d7;
    selection-color: #ffffff;
    outline: 0;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left: 1px solid #cccccc;
}

QComboBox::down-arrow
{
    width: 8px;
    height: 8px;
}

/*-----QSpinBox & QDoubleSpinBox & QDateTimeEdit-----*/
QSpinBox, 
QDoubleSpinBox,
QDateTimeEdit
{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 2px;
}

QSpinBox::disabled, 
QDoubleSpinBox::disabled,
QDateTimeEdit::disabled
{
	background-color: #f5f5f5;
	color: #a0a0a0;
}

QSpinBox:hover, 
QDoubleSpinBox::hover,
QDateTimeEdit::hover
{
    border: 1px solid #a0a0a0;
}

QSpinBox::up-button, QSpinBox::down-button,
QDoubleSpinBox::up-button, QDoubleSpinBox::down-button,
QDateTimeEdit::up-button, QDateTimeEdit::down-button
{
    background-color: #f0f0f0;
    border-left: 1px solid #cccccc;
}

QSpinBox::up-button:hover, QSpinBox::down-button:hover,
QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover,
QDateTimeEdit::up-button:hover, QDateTimeEdit::down-button:hover
{
    background-color: #e5e5e5;
}

QSpinBox::up-button:pressed, QSpinBox::down-button:pressed,
QDoubleSpinBox::up-button:pressed, QDoubleSpinBox::down-button:pressed,
QDateTimeEdit::up-button:pressed, QDateTimeEdit::down-button:pressed
{
    background-color: #d5d5d5;
}

/*-----QLineEdit-----*/
QLineEdit
{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 2px;
}

QLineEdit::disabled
{
	background-color: #f5f5f5;
	color: #a0a0a0;
}

/*-----QTextEdit-----*/
QTextEdit
{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
}

QTextEdit::disabled
{
	background-color: #f5f5f5;
	color: #a0a0a0;
}

/*-----QGroupBox-----*/
QGroupBox 
{
    border: 1px solid #cccccc;
    margin-top: 15px;
    border-radius: 3px;
}

QGroupBox::title  
{
    color: #000000;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
}

QGroupBox::title::disabled
{
	color: #a0a0a0;
}

/*-----QRadioButton-----*/
QRadioButton
{
    color: #000000;
}

QRadioButton::disabled
{
	color: #a0a0a0;
}

/*-----QTableView & QTableWidget-----*/
QTableView
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    gridline-color: #e0e0e0;
    outline: 0;
}

QTableView::disabled
{
    color: #a0a0a0;
}

QTableView::item:hover 
{
    background-color: #f5f5f5;
    color: #000000;
}

QTableView::item:selected 
{
    background-color: #0078d7;
    color: #ffffff;
}

QTableView::item:selected:disabled
{
    background-color: #e0e0e0;
    color: #a0a0a0;
}

QTableCornerButton::section
{
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
}

QHeaderView::section
{
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #cccccc;
    text-align: left;
	padding: 4px;
}

QHeaderView::section:disabled
{
    color: #a0a0a0;
}

QHeaderView::section:checked
{
    background-color: #e5e5e5;
}

/*-----QTabWidget-----*/
QTabBar::tab
{
	background-color: #f0f0f0;
	color: #000000;
	border: 1px solid #cccccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 5px 10px;
}

QTabBar::tab:disabled
{
	color: #a0a0a0;
}

QTabWidget::pane 
{
	background-color: #ffffff;
    border: 1px solid #cccccc;
}

QTabBar::tab:selected
{
    background-color: #ffffff;
	border-bottom-color: #ffffff; /* Connects tab to pane */
}

QTabBar::tab:!selected:hover 
{
    background-color: #e5e5e5;
}

/*-----QSlider-----*/
QSlider::groove:horizontal 
{
	background-color: #e0e0e0;
	height: 4px;
    border-radius: 2px;
}

QSlider::sub-page:horizontal 
{
	background-color: #0078d7;
    border-radius: 2px;
}

QSlider::handle:horizontal 
{
	background-color: #ffffff;
    border: 1px solid #cccccc;
	width: 14px;
	margin-top: -6px;
	margin-bottom: -6px;
	border-radius: 7px;
}

QSlider::handle:horizontal:hover 
{
	border: 1px solid #0078d7;
}

QSlider::groove:vertical 
{
	background-color: #e0e0e0;
	width: 4px;
    border-radius: 2px;
}

QSlider::sub-page:vertical 
{
	background-color: #0078d7;
    border-radius: 2px;
}

QSlider::handle:vertical 
{
	background-color: #ffffff;
    border: 1px solid #cccccc;
	height: 14px;
	margin-left: -6px;
	margin-right: -6px;
	border-radius: 7px;
}

QSlider::handle:vertical:hover 
{
	border: 1px solid #0078d7;
}

/*-----QScrollBar-----*/
QScrollBar:horizontal
{
    border: none;
    background-color: #f0f0f0;
    height: 14px;
    margin: 0px 14px 0 14px;
}

QScrollBar::handle:horizontal
{
    background: #cccccc;
    min-height: 20px;
    border-radius: 7px;
}

QScrollBar::handle:horizontal:hover
{
    background: #a0a0a0;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal
{
    background-color: #f0f0f0;
    width: 14px;
}

QScrollBar:vertical
{
    background-color: #f0f0f0;
    width: 14px;
    margin: 14px 0 14px 0;
    border: none;
}

QScrollBar::handle:vertical
{
    background-color: #cccccc;
    min-height: 20px;
    border-radius: 7px;
}

QScrollBar::handle:vertical:hover
{
    background: #a0a0a0;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    background-color: #f0f0f0;
    height: 14px;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background: none;
}

/*-----QProgressBar-----*/
QProgressBar
{
    border: 1px solid #cccccc;
    background-color: #e0e0e0;
    text-align: center;
    color: #000000;
    padding: 1px;
    border-radius: 3px;
}

QProgressBar::chunk
{
    background-color: #0078d7;
}